input {
  font-size: 16px;
  outline: none;
  line-height: 24px;
  padding: 5px;

}

button {
  padding: 8px 36px;
  border-radius: 5px;
  color: #21268F;
  background-color: #D7D8EF;
}

button:hover {
  color: #D7D8EF;
  background-color: #21268F;
}

.registerBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #E5E5E5 0%, #9890C7 100%);

  min-height: 100vh;

  .registerCard {
    //border: 1px solid;
    max-width: 413px;
    width: 100%;
    max-height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    padding: 25px 33px;
    background-color: #fff;
    border-radius: 15px;

    .title {

    }

    .formBlock {
      width: 350px;
      .inputItem {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        border:none;
        border-bottom: #F9F9FE;

        .labelTitle {

        }


      }
      .buttonsBlock {
        margin: 80px 0 35px;
        display: flex;
        justify-content: space-between;
      }
    }

  }
}
