.registerBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #E5E5E5 0%, #9890C7 100%);
  min-height: 100vh;

  .registerCard {
    //border: 1px solid;
    max-width: 413px;
    width: 100%;
    max-height: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 33px;
    background-color: #fff;
    border-radius: 15px;

    .error {
      color: tomato;
      border: 1px solid tomato;
      padding: 10px;
    }

    .formContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: auto;

      span{
        opacity: 0.8;
        color: gray;
      }

      .emailText {
        margin-bottom: 60px;
      }

      .passwordText {
        margin-bottom: 20px;
      }

      .formBlock {
        width: 100%;

        .inputItem {
          display: flex;
          flex-direction: column;
          margin: 24px 0;
          border: none;
          border-bottom: #F9F9FE;

          .labelTitle {
            opacity: 0.7;
            color: gray;
          }

          input {
            font-size: 16px;
            outline: none;
            line-height: 24px;
            padding: 5px;
          }
        }
      }

      button {
        padding: 8px 36px;
        border-radius: 5px;
        color: #21268F;
        background-color: #D7D8EF;
        cursor: pointer;
        margin-bottom: 30px;
        font-size: 18px;

        &:hover {
          color: #D7D8EF;
          background-color: #21268F;
        }

        &:active {
          color: #D7D8EF;
          background-color: #21268F;
        }
      }

      .loginLink a{
        text-decoration: none;
        font-weight: bold;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}



