.paginator {
  max-width: 100%;
  margin: 2vh 0;


  .paginatorContainer {
    width: 60vw;
    display: flex;
    align-items: center;

    .paginatorBtn {
      width: 3vw;
      background-color: transparent;
      border: 1px solid;
    }

    .paginatorBtn:hover {
      background-color: darkgrey;
      color: black;
      font-weight: 700;
    }

    .pageNumbersBlock {
      display: flex;
      margin: 0 1px;

    }

    .pageNumber {
      min-width: 1.5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.5vw;
      cursor: pointer;
      padding: 1vw;
      border: 1px solid grey;
      border-radius: 50%;
      color: #e5e5e5;
    }

    .pageNumber.selectedPage {
      font-weight: bold;
      border-color: black;
      color: #21268F;
    }


  }


}

//margin: 5px;
//    font-weight: bold;
//    padding: 5px;
//    border-radius: 50%;
//    border: 1px solid;
//    text-align: center;
//}

