
.pagesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;



  .sideBar {

    height: 90vh;
    width: 25%;
    background-color: floralwhite;
  }
  .mainPart {
    width: 75%;
    background-color: aliceblue;
  }


}

.profileSidebar {
  width: 100%;
  padding-left: 1vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;

  .infoBlock {

  }
  .buttonLogout {

  }
}

